PORT=4000
DATABASE_URL="postgresql://curemate_app:curemate_password@localhost:5432/curemate?schema=public"
JWT_ACCESS_SECRET="curemate-access-secret-key-phase0-local"
JWT_REFRESH_SECRET="curemate-refresh-secret-key-phase0-local"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
REDIS_HOST="localhost"
REDIS_PORT=6379
